.menu{
	text-align: center;
}

.menu li{
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	display: inline-block;
}

.logo{
	text-align: center;
}

.logo a{
	text-align: center;
}

.logo img{
	width: 100%;
	max-width: 150px;
	position: relative;
}